@import 'src/variables.scss';

/*---------------------------------------
  page styles
---------------------------------------*/

.home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150%;
  background: $gradientPrimary;
}

.home__accessibility-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background: $colorPrimary;
}

/*---------------------------------------
  button styles
---------------------------------------*/

.buttons {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  margin-top: 20%;
}

.buttons__single-button {
  padding: 15px 20px;
  background: $colorPrimary;
  border: none;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

/*---------------------------------------
  media queries
---------------------------------------*/

@media (max-width: 768px) {
  .buttons{
    flex-direction: column;
    height: 300px;
    width: auto;
  }
}

/*---------------------------------------
  accessibility theme styles
---------------------------------------*/

.home--accessible {
  background: blue;

  .home__accessibility-toggle, .buttons__single-button {
    background-color: yellow;
  }
}