/*---------------------------------------
  global variables
---------------------------------------*/

// Color Variables 
$colorPrimary: white;
$colorSecondary: #0C090A;

// Gradient Variables
$gradientPrimary: linear-gradient(92deg, #FF416C, #FF655D);